<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.interkassa.interact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.interkassa.helpers.WebViewActivity_"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>
